version: "3.9"

services:
  db:
    image: postgres:15
    container_name: techmspace_db
    restart: always
    env_file:
      - .env.prod
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5


  redis:
    image: redis:7-alpine
    container_name: techmspace_redis
    restart: always
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5



  api:
    build: .
    container_name: techmspace_api
    restart: always
    env_file:
      - .env.prod
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy 
    ports:
      - "5000:5000"
    command: ["/wait-for-service.sh", "gunicorn", "-c", "gunicorn_config.py", "wsgi:app"]

volumes:
  postgres_data: